<html>
<title>
    <%= title %>
</title>
<header>
    <% include layouts/header %>
        <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
</header>

<body>
    <% include layouts/navbar %>

        <div class="container">
            <h1 class="center-align" style="font-family: 'Poiret One', cursive;">404. Page Not Found</h1>
            <div class="center">
                <img class="center-align" src="/img/gif/missigno.gif">
            </div>
        </div>
        </div>
        <% include layouts/footer %>
        <% include layouts/jsimports %>
</body>
</html>
