<html>
<title>
    <%= title %>
</title>
<% include layouts/header %>
    <link rel="stylesheet" href="/css/profile.css">

    <body>
        <% include layouts/navbar %>

            <div class="container" style="margin-top:5%">
                <div class="row">
                    <!-- Profile Pic column -->
                    <div class="col s12 m4 l4">
                        <label for="file-input" style="max-height: 100%; max-width: 100%;"><a class="tooltipped" data-position="top" data-delay="50" data-tooltip="Update profile picture">
                         <img class="responsive-img" src="<%= user.profilepic %>"></a>
                        </label>
                        <form action="/uprofilepic" enctype="multipart/form-data" id="uprofile" method="post">
                            <input id="file-input" name="profilepic" type="file" accept="image/*" style="display: none;" />
                        </form>
                    </div>
                    <!-- Profile Settings column -->
                    <div class="col s12 m8 l8">
                        <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
                            <li class="tab col s3"><a class="active" href="#generalsettings">General Settings</a></li>
                            <li class="tab col s3"><a href="#idadvancedsettings">Advanced Settings</a></li>
                        </ul>
                        <div id="generalsettings" class="col s12">
                            <form id="generalsettingsform" class="col s12" method="post">
                                <ul class="input-list style-1 clearfix">
                                    <div class="row">
                                        <li class="col s6">
                                            <label for="name">Name</label>
                                            <input id="name" name="name" type="text" value="<%= user.name %>">
                                        </li>
                                    </div>
                                    <div class="row">
                                        <li class="col s6">
                                            <label for="name">Surname</label>
                                            <input id="surname" name="surname" type="text" value="<%= user.surname %>">
                                        </li>
                                    </div>
                                    <div class="row">
                                        <li class="col s12">
                                            <label for="name">Bio</label>
                                            <textarea id="bio" name="bio" type="text"><%= user.bio %></textarea>
                                        </li>
                                    </div>
                                    <div class="row">
                                        <li class="col s4">
                                            <button class="btn waves-effect waves-light green" type="submit" name="action" value="general">Save
                                            <i class="material-icons right">save</i>
                                      </button>
                                        </li>
                                    </div>
                                </ul>
                            </form>
                        </div>
                        <!-- Advanced Settings -->
                        <div id="idadvancedsettings" class="col s12">
                            <ul class="input-list style-1 clearfix">
                                <div class="row">
                                    <li class="col s6">
                                        <button class="btn waves-effect waves-light red" type="submit" data-target="modal1">Delete Account
                                      <i class="material-icons right">delete</i>
                                    </li>
                                </div>
                            </ul>
                            <!-- Modal Structure -->
                            <div id="modal1" class="modal">
                              <div class="modal-content">
                                <h4>DELETE ACCOUNT</h4>
                                <p>warning! If your accept you will delete your account and there will not be go back.</p>
                              </div>
                              <div class="modal-footer">
                                <form method="POST">
                                <button class="modal-action modal-close waves-effect waves-green btn-flat">Cancel
                                <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat red" name="action" value="deleteaccount">Agree
                                </form>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <% include layouts/footer %>
                <% include layouts/jsimports %>
                <script src="/js/profile.js"></script>
    </body>

</html>
