<html>
<title>
    <%= title %>
</title>

<head>
    <% include layouts/header %>
</head>

<body>
    <% include layouts/navbar %>

        <div class="container">
            <form method="post">
                <div class="row">
                    <div class="col s6 offset-s3">
                        <input placeholder="Placeholder" name="username" type="text" class="validate">
                        <label for="first_name">Username</label>
                    </div>
                </div>
                <div class="row center">
                    <div class="col s12">
                        <input type="submit" value="Request new password" class="btn">
                    </div>
                </div>
            </form>
        </div>
        <% include layouts/footer %>
            <% include layouts/jsimports %>
</body>

</html>
