<html>
<title>
    <%= title %>
</title>
<% include ../layouts/header %>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

    <body>
        <% include ../layouts/navbar %>

            <div class="container">
                <div class="row" style="margin-top:10%">
                    <a href="admin/uploadrom">
                        <div class="col s12 m5 l4">
                            <div class="card-panel red accent-1 hoverable" style="font-family: 'Indie Flower', cursive;font-size:24px">
                                <p class="center-align"><i class="material-icons">videogame_asset</i> UPLOAD GAME</p>
                            </div>
                        </div>
                    </a>
                    <a href="admin/users">
                        <div class="col s12 m5 l4">
                            <div class="card-panel orange accent-1 hoverable" style="font-family: 'Indie Flower', cursive;font-size:24px">
                                <p class="center-align"><i class="material-icons">person</i> MANAGE USERS</p>
                            </div>
                        </div>
                    </a>
                    <div class="col s12 m5 l4">
                        <div class="card-panel yellow accent-1 hoverable" style="font-family: 'Indie Flower', cursive;font-size:24px">
                            <p class="center-align"><i class="material-icons">mail_outline</i> COMMUNITY MAIL</p>
                        </div>
                    </div>
                    <a href="admin/updaterom">
                      <div class="col s12 m5 l4">
                          <div class="card-panel orange accent-1 hoverable" style="font-family: 'Indie Flower', cursive;font-size:24px">
                              <p class="center-align">COMING SOON!</p>
                          </div>
                      </div>
                    </a>
                    <div class="col s12 m5 l4">
                        <div class="card-panel light-green accent-1 hoverable" style="font-family: 'Indie Flower', cursive;font-size:24px">
                            <p class="center-align">COMING SOON!</p>
                        </div>
                    </div>
                    <div class="col s12 m5 l4">
                        <div class="card-panel green accent-1 hoverable" style="font-family: 'Indie Flower', cursive;font-size:24px">
                            <p class="center-align">COMING SOON!</p>
                        </div>
                    </div>
                    <div class="col s12 m5 l4">
                        <div class="card-panel teal accent-1 hoverable" style="font-family: 'Indie Flower', cursive;font-size:24px">
                            <p class="center-align">COMING SOON!</p>
                        </div>
                    </div>
                    <div class="col s12 m5 l4">
                        <div class="card-panel cyan accent-1 hoverable" style="font-family: 'Indie Flower', cursive;font-size:24px">
                            <p class="center-align">COMING SOON!</p>
                        </div>
                    </div>
                    <div class="col s12 m5 l4">
                        <div class="card-panel light-blue accent-1 hoverable" style="font-family: 'Indie Flower', cursive;font-size:24px">
                            <p class="center-align">COMING SOON!</p>
                        </div>
                    </div>
                </div>
            </div>

            <% include ../layouts/jsimports %>
    </body>

</html>
