<footer class="page-footer teal" style="margin-top:16%">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Conctact Us</h5>
        <p class="grey-text text-lighten-4">Dont doubt into contancting us ...</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Play Online now!</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/gb">Gameboy</a></li>
          <li><a class="grey-text text-lighten-3" href="/gba">Gameboy advance</a></li>
          <li><a class="grey-text text-lighten-3" href="/nes">nes</a></li>
          <li><a class="grey-text text-lighten-3" href="/snes">super nes</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Emulador.io
    <a class="grey-text text-lighten-4 right" href="https://github.com/Lorengamboa">Lorenzo Gamboa García</a>
    </div>
  </div>
</footer>
